.Grid
  .Grid-cell.u-size3of12
    p.putainde-Footer-text
      | #{lang.copyright.replace('{*}', new Date().getFullYear())}
  .Grid-cell.u-size6of12
    if lang.footerNavigation
      ul.putainde-Footer-list
        li
        a(href="#{lang.github}", data-tip="GitHub").AttrTip.AttrTip--top
          i.putainde-Icon.putainde-Icon--github
        each item in lang.footerNavigation
          li
            a(href="#{uri(item.url, page)}")
              | #{item.name}
        a(href="#{lang.twitter}", data-tip="Twitter").AttrTip.AttrTip--top
          i.putainde-Icon.putainde-Icon--twitter
  .Grid-cell.u-size3of12
    p.putainde-Footer-text.putainde-Footer-text--small.putainde-Footer-text--right
      | #{lang.madeWithHeart}
      -var crewPath = uri(lang.crewLink.url, page)
      -var isSamePage = crewPath.indexOf("/") == -1
      a(
        href="#{crewPath}"
        class=isSamePage ? "js-ScrollTo" : null
      )
        | #{lang.crewLink.name}
