---
pageClass: putainde-Page
---
<!DOCTYPE html>
{{#if happyplan.repository.url }}<!--
  HEY YOU, STOP LOOKING AT MY SOURCE CODE
  Just check it out directly on Github :

  {{ happyplan.repository.url }}
-->{{/if}}
<html lang="fr" class="no-js no-touch {{ this.class }}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<script>(function(docEl) {
  docEl.className = docEl.className.replace(/\bno-js\b/, 'js');
  if ('ontouchstart' in docEl) { docEl.className = docEl.className.replace(/\bno-touch\b/, 'touch'); }
})(document.documentElement);</script>
{{> head }}
</head>
<body>
{{{ happyplan.html.hooks.body_open }}}
<div class="{{#if this.class }}{{ this.class }}{{/if}}">
  {{#if this.nav }}{{> nav }} {{/if}}
  <article class="putainde-Content grid {{ this.pageClass }}">
    <header class="putainde-Content-header grid__cell unit-1-1">
      {{#if this.title }}<h1 class="putainde-Content-title">{{ this.title }}</h1>{{/if}}
      <div class="putainde-Content-metas">
        {{#if this.page.author }}<span class="putainde-Content-author">Par <span class="putainde-Author">{{ this.page.author }}</span></span>{{/if}}
        {{#if this.page.readingTime }}<span class="putainde-Content-readingTime">Temps de lecture: environ {{ this.page.readingTime }}</span>{{/if}}
        {{#if this.page.tags }}<span class="putainde-Content-tags">Tags: {{ this.page.tags }}</span>{{/if}}
      </div>
    </header>
    <div class="putainde-Content-body grid__cell {{#if this.sidebar }}unit-3-4--m{{/if}}">
    {{> body }}
    </div>
    {{#if this.sidebar }}
    <aside class="putainde-Sidebar grid__cell unit-1-4--m">
    {{> sidebar }}
    </aside>
    {{/if}}
  </article>
  {{#if this.footer }}
  {{> footer }}
  {{/if}}
</div>
{{{ happyplan.html.hooks.body_close }}}
{{> google-analytics }}
{{> disqus }}
</body>
</html>

