mixin Member(member, isPost)
  .putainde-Member(class=attributes.class)
    img.putainde-Member-picture.js-AnimateLoad(
      src="#{member.avatar_url}"
      alt=""
    )
    .putainde-Member-description
      .putainde-Member-title
        h3.putainde-Member-name
          if isPost
            span.putainde-WrittenBy #{lang.writtenBy}
            = " "
          | #{member.name}
        .putainde-Member-social
          if member.url
            a(href="#{member.url}")
              i.putainde-Icon.putainde-Icon--world
          if member.twitter
            a(href="https://twitter.com/#{member.twitter}")
              i.putainde-Icon.putainde-Icon--twitter
          if member.github
            a(href="https://github.com/#{member.github}")
              i.putainde-Icon.putainde-Icon--github
      each paragraph in member.fr.bio.long
        p #{paragraph}
