mixin Navigation(list, currentPage)
  nav.putainde-Nav
    each item in list
      -var isActivePage = currentPage == item.url || currentPage == item.url + "/index"
      a.putainde-Nav-item(
        class="#{isActivePage ? 'putainde-Nav-item--current' : ''}"
        href="#{uri(item.url, [currentPage, '..'])}"
      )
        | #{item.name}
    a.putainde-Nav-item(href="https://github.com/putaindecode/forum/issues" target="_blank") Forum
