mixin Navigation(list, currentPage)
  nav.putainde-Nav
    each item in list
      -var isActivePage = currentPage == item.url || currentPage == item.url + "/index"
      a.putainde-Nav-item(
        class="#{isActivePage ? 'putainde-Nav-item--current' : ''} #{item.title ? 'putainde-Nav-item--icon rcp-Tooltip rcp-Tooltip--bottom' : ''}"
        href="#{uri(item.url, currentPage)}"
        data-rcp-tooltip="#{item.title ? item.title : ''}"
      )
        if item.icon
          i(class="putainde-Icon putainde-Icon--#{item.icon}")
        if item.name
          =" "
          | #{item.name}
