mixin Post(title)
  article.Grid.putainde-Post
    .Grid-cell.u-size8of12.Grid.putainde-Post-contents
      if title
        .putainde-Title
          h1.putainde-Title-text #{title}

      header.putainde-Post-header
        if(exports.author)
          -var author = contributors.map[exports.author]

        -if(exports.author || exports.date)
          .putainde-Post-metas
            if exports.author
              | #{lang.writtenBy} #{exports.author}
            if exports.author && exports.date
              =","
            if exports.date
              span.putainde-Date
                =" "
                | #{lang.the} #{formatDate(exports.date)}
            =". "
            span.putainde-Post-readingTime.putainde-Post-readingTime--hidden.AttrTip.AttrTip--top(
              data-tip="#{lang.readingTimeComment}",
              data-readingTime-wpm="250"
            )
              | #{lang.readingTime}
              =" "
              span.putainde-Post-readingTime-value
              =" "
              | #{lang.minutes}
        if exports.tags
          ul.putainde-Tags.putainde-Post-tags
            each tag in exports.tags
              li.putainde-Tag
                | #{tag}

      .putainde-Post-md
        block

      footer.putainde-Post-footer
        .putainde-Post-footer-title #{lang.pageActions}
        .Grid
          .Grid-cell.u-size1of3
            a.putainde-Post-footer-action(href="https://github.com/putaindecode/website/edit/master/pages/#{page}.md") #{lang.pageEdit}
          .Grid-cell.u-size1of3
            a.putainde-Post-footer-action(href="https://github.com/putaindecode/website/blame/master/pages/#{page}.md") #{lang.pageBlame}
          .Grid-cell.u-size1of3
            a.putainde-Post-footer-action(href="https://github.com/putaindecode/website/commits/master/pages/#{page}.md") #{lang.pageHistory}

      if author
        +Author(author, true).putainde-Author--author

      +Contributors(page)

      #disqus_thread(aria-live="polite")
        noscript.
          | Please enable JavaScript to view the
          a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
