mixin Avatar(author, size)
  - author = contributors.map[author]
  - size = size || 128
  - var avatarUrl = author.avatar_url ? author.avatar_url + "&s=" + size : "http://placekitten.com/" + size + "/" + size
  a(href="#{getAuthorUri(author)}", class="putainde-Avatar #{attributes.class || ''}")
    img(
      class="js-AnimateLoad"
      src="#{avatarUrl}"
      alt=""
    )
