mixin FeedPosts()
  -var posts = getPages({type:"post"})
  -posts.sort(function(prev, next){return prev.date > next.date ? -1 : 1})
  -posts = posts.slice(0, 20)
  each post in posts
    item
      title #{post.title}
      description
        | <![CDATA[
        | !{getFeedDescription(post.slug)}
        | ]]>
      pubDate #{(new Date(post.date)).toUTCString()}
      <link>#{lang.baseURL}/#{uri(post.slug + '.html')}</link>
      guid(isPermaLink="true") #{lang.baseURL}/#{uri(post.slug + '.html')}
