mixin Social(post)
  -var author = contributors.map[post.authors[0]]
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@#{lang.twitterUsername}")
  meta(name="twitter:title" content="#{post.title}")
  meta(name="twitter:creator" content="@#{author.twitter}")

  meta(property="og:title" content="#{post.title}")
  meta(property="og:type" content="article")
  meta(property="og:site_name" content="#{lang.title}")
