---
lang: fr
layout: no-sidebar.hbs
title: "Articles"
---
<ul class="putainde-PostsListing">
{{#each_dateSorted pages}}{{#is data.lang ../page.lang}}{{#is data.type "post"}}{{#compare data.draft "==" true}}
  <li class="putainde-PostsListing-post">
    <time class="putainde-PostsListing-post-datetime" datetime="{{ data.date }}">{{moment data.date format="ddd, DD MMMM YYYY" }}</time>
    <a class="putainde-PostsListing-post-link" href="{{url this.dest}}">{{ data.title }}</a>
    <small class="putainde-PostsListing-post-metas">commit initial par <span class="putainde-Author">{{ data.author }}</span></small>
{{/compare}}{{/is}}{{/is}}{{/each_dateSorted}}
</ul>

<center><small><a href="posts/">Posts publiés</a></small></center>
