.putainde-Title.putainde-Title--home
  h2.putainde-Title-text #{lang.manifesto}
include:md /src/pages/home/manifesto.md
.putainde-Networks
  | #{lang.elsewhere}
  a.putainde-Network(
    href="#{lang.github}"
    title="#{lang.githubLabel}"
  )
    +Icon("github")

  a.putainde-Network(
    href="#{lang.twitter}"
    title="#{lang.twitterLabel}"
  )
    +Icon("twitter")
