mixin Author(author, isPost)
  .putainde-Author(class=attributes.class)
    +Avatar(author).putainde-Author-picture
    .putainde-Author-description
      .putainde-Author-title
        h3.putainde-Author-name
          if isPost
            span.putainde-WrittenBy #{lang.writtenBy}
            = " "
          | #{author.login}
        .putainde-Author-social
          if author.url
            a(href="#{author.url}")
              +Icon("home")
          if author.twitter
            a(href="https://twitter.com/#{author.twitter}")
              +Icon("twitter")
          a(href="https://github.com/#{author.login}")
            +Icon("github")
      p.putainde-Author-bio
        -if(author.fr && author.fr.bio && author.fr.bio.long)
          != author.fr.bio.long.join(' <br> ')
