mixin Author(author, isPost)
  - author = contributors.map[author]

  .putainde-Author(class=attributes.class)

    +Avatar(author.login).putainde-Author-picture

    .putainde-Author-description
      .putainde-Author-title
        h3.putainde-Author-name
          if isPost
            span.putainde-WrittenBy #{lang.writtenBy}
            = " "
          a(href="#{getAuthorUri(author)}").putainde-Link #{author.login}
        .putainde-Author-social
          if author.url
            a(href="#{getAuthorUri(author)}", data-rcp-tooltip="Website").rcp-Tooltip.rcp-Tooltip--top
              +Icon("home")
          if author.twitter
            a(href="#{getAuthorUri(author, 'twitter')}", data-rcp-tooltip="Twitter").rcp-Tooltip.rcp-Tooltip--top
              +Icon("twitter")
          a(href="#{getAuthorUri(author, 'github')}", data-rcp-tooltip="Github").rcp-Tooltip.rcp-Tooltip--top
            +Icon("github")

      p.putainde-Author-bio
        -if(author.fr && author.fr.bio && author.fr.bio.long)
          != author.fr.bio.long.join(' <br> ')
