mixin Avatar(author, size)
  - author = contributors.map[author]
  - var avatarUrl = author.avatar_url
  - size = size || 128
  a(href="#{getAuthorUri(author)}", class="putainde-Avatar #{attributes.class || ''}")
    img(
      class="js-AnimateLoad"
      src="#{avatarUrl}&s=#{size}"
      alt=""
    )
