mixin Navigation(list, currentPage)
  nav.putainde-Nav
    each item in list
      -var isActivePage = currentPage == item.url || currentPage == item.url + "/index"
      a.putainde-Nav-item(
        class="#{isActivePage ? 'putainde-Nav-item--current' : ''} #{item.title ? 'putainde-Nav-item--icon cssr-Tooltip cssr-Tooltip--bottom' : ''}"
        href="#{uri(item.url, currentPage)}"
        data-cssr-tooltip="#{item.title ? item.title : ''}"
      )
        if item.icon
          +Icon(item.icon)
        if item.name
          =" "
          | #{item.name}
