<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ happyplan.name }}</title>
        <description>{{ happyplan.description }}</description>
        <link>{{ happyplan.url }}/</link>
        <generator>{{ happyplan.pkg.name }} {{ happyplan.pkg.version }}</generator>
        <lastBuildDate>{{moment happyplan.buildDate format="ddd, DD MMM YYYY HH:mm:ss ZZ" }}</lastBuildDate>
        <atom:link href="{{ happyplan.url }}/feed.xml" rel="self" type="application/rss+xml" />
{{#posts pages limit=20}}{{#is data.lang "fr"}}
          <item>
              <title>{{ data.title }}</title>
              <description><![CDATA[{{#handlebarsception}}{{{ page }}}{{/handlebarsception}}]]></description>
              <pubDate>{{moment data.date format="ddd, DD MMM YYYY HH:mm:ss ZZ" }}</pubDate>
              <link>{{ ../../happyplan.url }}/{{url this.dest }}</link>
              <guid isPermaLink="true">{{ ../../happyplan.url }}/{{url this.dest }}</guid>
          </item>
{{/is}}{{/posts}}
    </channel>
</rss>
