---
layout: default.hbs
class: putainde-Homepage
title: "Putain de Code, c'est quoi ?"
---

<div class="putainde-Homepage-edito">
  {{#markdown}}
  C'est une communauté de développeurs carrément amoureux du code.

  Mais à force de lire tous les jours des ressources françaises de piètre qualité sur le développement web, on a décidé de prendre les choses en mains et de lancer notre propre bouzin. Notre constat c'est que nos métiers, c'est de coder. Et on aime ça. Mais attention on aime faire ça sans en mettre partout sur la cuvette, on aime quand y'a pas d'éclaboussure, quand c'est propre et qu'à la fin, on peut prendre en photo et le *twitter* car on en est fier. Tu auras donc compris que nos valeurs principales sont la qualité et le partage.

  Après, pour bien coder, il suffit pas que d'avoir un bon clavier et des doigts, du coup, on compte sortir des posts sur des technos, mais aussi sur des outils, des méthodes de travail, ou tout ce qui peut encore toucher à notre précieux code. Comme tu avais compris qu'une de nos préoccupations était la qualité, on sortira les posts quand on estimera qu'ils sont prêts. C'est à dire qu'on peut en sortir 3 par semaine mais aussi aucun. C'est nous qu'on décide de toute façon.

  Quoiqu'il en soit, on se considère comme une communauté, et même si on lance le truc à l'arrache après avoir mis un peu de temps à sortir quelque chose tout court, on est chauds bouillants, et ce qui fera le succès de cette communauté, c'est vous. Vous pouvez déjà participer à l'évolution du site en allant voir [sur quoi on travaille et même nous faire vos propositions](https://github.com/putaindecode/website/issues?labels=post&state=open) ou même encore nous poser une question sur [notre forum](https://github.com/putaindecode/forum/issues). On compte vraiment sur vous pour nous aider à faire de Putain de Code un truc magnifique.
  {{/markdown}}

  <div class="putainde-Homepage-readMore">
    <a href="/c-est-quoi-putaindecode">
    Lire le pourquoi du comment
    <a>
  </div>
</div>

<div class="putainde-Homepage-links">
  <a href="https://github.com/putaindecode"><i class="icon icon_github"></i></a>
  &lt;&nbsp;&nbsp;&nbsp;
  Ailleurs sur les internets
  &nbsp;&nbsp;&nbsp;&gt;
  <a href="https://twitter.com/putaindecode"><i class="icon icon_twitter"></i></a>
</div>

<div class="putainde-Homepage-team">
  <h2>Le Crew</h2>
  <ul>
    <li>{{ author "MoOx" "author--mini" }}</li>
    <li>{{ author "Nyalab" "author--mini" }}</li>
    <li>{{ author "dguyon" "author--mini" }}</li>
    <li>{{ author "justinmarsan" "author--mini" }}</li>
    <li>{{ author "kud" "author--mini" }}</li>
    <li>{{ author "lionelB" "author--mini" }}</li>
    <li>{{ author "madx" "author--mini" }}</li>
    <li>{{ author "mlbli" "author--mini" }}</li>
    <li>{{ author "rhannequin" "author--mini" }}</li>
    <li>{{ author "OwlyCode" "author--mini" }}</li>
  </ul>
</div>
