<section class="putainde-AboutTheAuthor">
  {{#if this.avatar_url }}
    {{#if this.url }}
    <a class="putainde-AboutTheAuthor-avatar putainde-Author-avatar" href="{{ this.url }}">
      <img src="{{ this.avatar_url }}?s=300&amp;d=https%3A%2F%2Fidenticons.github.com%2Fc0863a4414cba6aa95014df9e3d9f6a5.png" />
    </a>
    {{else}}
    <span class="putainde-AboutTheAuthor-avatar putainde-Author-avatar">
      <img src="{{ this.avatar_url }}?s=300&amp;d=https%3A%2F%2Fidenticons.github.com%2Fc0863a4414cba6aa95014df9e3d9f6a5.png" />
    </span>
    {{/if}}
  {{/if}}
  <h1 class="putainde-AboutTheAuthor-title">
    <strong class="putainde-AboutTheAuthor-name">{{ this.name }}</strong>
    {{#if this.url }}<a class="putainde-AboutTheAuthor-url" href="{{ this.url }}"><i class="icon icon_home"> </i></a>{{/if}}
    {{#if this.twitter }}<a class="putainde-AboutTheAuthor-twitter" href="https://twitter.com/{{ this.twitter }}"><i class="icon icon_twitter"> </i></a>{{/if}}
    {{#if this.github }}<a class="putainde-AboutTheAuthor-github" href="https://github.com/{{ this.github }}"><i class="icon icon_github"> </i></a>{{/if}}
  </h1>
  {{#if this.fr.bio.long }}
    {{!# keep \n to allow native markdown br}}
    <div class="putainde-AboutTheAuthor-bio--long">{{#markdown}}{{#each this.fr.bio.long}}{{ this }}
{{/each}}{{/markdown}}</div>
  {{/if}}
</section>
