<nav class="putainde-Nav">
	<div class="grid">
		<div class="grid__cell">
			<a class="putainde-SiteTitle" href="{{ baseurl }}">
				<img class="putainde-Logo" alt="Putain de code !" src="{{ happyplan.baseUrls.images }}/p!-logo.svg" />
				{{ happyplan.name }}
			</a>

			<span class="putainde-Baseline">{{ happyplan.description }}</span>

			<ul class="putainde-Nav-list">
				<li class=""><a class="{{#is this.nav 'home' }}active{{/is}}" href="{{ baseurl }}">Home</a>
				<li class=""><a class="{{#is this.nav 'wat' }}active{{/is}}" href="c-est-quoi-putaindecode">Putain de ... ?</a>
				<li class=""><a class="{{#is this.nav 'posts' }}active{{/is}}" href="#">Les Posts</a>
				<li class=""><a class="{{#is this.nav 'about' }}active{{/is}}" href="le-crew">Le Crew</a>
			</ul>
		</div>
	</div>
</nav>
